@import url("variables.css");
@import url("common.css");

html {
    height: fit-content;
}

body {
    font-size: 0.75rem;
    line-height: 1.334;
    height: fit-content;
    width: 240px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: var(--tool-action-v-padding);
}

button {
    font-size: 0.75rem;
    border: 1px solid var(--item-border-color);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    background: var(--main-background-color);
    color: var(--link-color);
    cursor: pointer;
}

button:hover {
    background: var(--list-hover-background-color);
    color: var(--link-color);
}

button:disabled {
    background: var(--main-background-color);
    color: var(--link-color);
    cursor: default;
}

header {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1rem;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

main {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    margin-top: var(--tool-action-v-padding) 0;
}

.full-width {
    width: 100%;
    font-size: .75rem;
    border: 1px solid var(--item-border-color);
    padding: 4px 8px;
    border-radius: 3px;
}
